<IfModule mod_expires.c>
  ExpiresActive On

  # Images (cache long)
  ExpiresByType image/jpg "access plus 1 month"

  # CSS (cache moyen)
  ExpiresByType text/css "access plus 7 days"

  # JS (cache moyen)
  ExpiresByType application/javascript "access plus 7 days"
</IfModule>

<IfModule mod_headers.c>
  # Image → cache fort
  <FilesMatch "\.(png|jpg|jpeg|gif)$">
    Header set Cache-Control "public, max-age=2592000"
  </FilesMatch>

  # CSS & JS → cache mais revalidation possible
  <FilesMatch "\.(css|js)$">
    Header set Cache-Control "public, max-age=604800"
  </FilesMatch>
</IfModule>